<ul>

<li>
<a href="http://feedproxy.google.com/~r/oguzy-gezegen/~3/dmDtp8fRToI/">
<img src="oguzyarimtepe.png" height="24" alt="">
Yakın Doğu’da Seminer Rüzgarları</a>
</li>


<li>
<a href="http://feedproxy.google.com/~r/oguzy-gezegen/~3/nubepmpaYEk/">
<img src="oguzyarimtepe.png" height="24" alt="">
100 ml</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=432">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
Artık Sun yok!</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=381">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
EMO 13. Ulusal Kongresi</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=338">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
Intel, Atom, Moblin</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=330">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
Teknik Destek Kopya Kağıtı</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=312">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
Korsan Değil &#8220;Fikir Hırsızı&#8221;</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=279">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
Mobil Cihazlar Dünyasında Neler Oluyor?</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=259">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
LKD Genel Kurulu için Ankara&#8217;ya</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=248">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
IE, WTW ve Gıda Yardımı</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=244">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
TBD Bilişim Kongresi&#8217;nde Özgür Yazılım Paneli</a>
</li>


<li>
<a href="http://www.hakanuygun.com/blog/?p=231">
<img src="http://planet.gnome.org/heads/nobody.png" height="24" alt="">
Sıralama Algoritmaları</a>
</li>

</ul>
