{% extends "main/base.html" %}
{% block body %}

<form action="{{ BASE_URL }}/search/" method="POST" enctype="multipart/form-data">
    <table border="0px">
            {% for field in q_form %}
            <tr>
                <div class="fieldWrapper">
                    <td>{{ field.label_tag }}</td>

                    <td>
                        {{ field }}
                    </td>
                    {% if field.help_text %}
                    <td>
                        {{ field.help_text }}
                    </td>
                    {% endif %}

                    {% if field.errors %}
                      <td>
                        {{ field.errors }}
                      </td>
                    {% endif %}


                </div>
    </tr>
            {% endfor %}
    </table>
        <div class="spacer"></div>
        <input type="submit" value="Ara!" />
        </form>
{% endblock %}
